*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 1000px;
border: dashed 1px black;
	margin: auto;
	background-color:#f8f8f8;
}
.top{
	width: 100%;
	height: 195px;
	background-color:#FFFFFF;

	}
.top-top{
	height: 26px;
	width: 100%;
	background-image: url(../img/loginbg.gif);
	margin-bottom: 5px;
	padding-top: 5px;
}
.top-top-font{
	float: left;
	font-family: '微软雅黑';
}
.top-tom-tel{
	float:left; 
	margin-left: 14%;
	font-family: "微软雅黑";
}
.top-tom-tel img{
	vertical-align: middle;
}
.top-tom-tel span{
	color: #da251c;
}
.top-top p{
	color: #000000;
}

.topleft{
		width: 53%;
		height: 110px;
		float: left;
		overflow: hidden;
		}
.topleft-img{width:35%;
	height:100%;
	float: left;
}
.topleft img{
vertical-align: middle;
margin-top: 10px;
margin-left: 8px;
}
.logofont{
	width:63%;
	height: 100%;
	float: left;
	padding-top:5%;
	font-size: 24px;
	overflow: hidden;
	margin-left: 2%;
}
.logofont font{
	color: #000000;
}
.topright{
		width: 47%;
		height: 110px;
		float: left;

		font-family: "微软雅黑";
}
.topright span{
	color:#da251c;
}
.topright ul li{
	width: 232px;
	list-style-type: none;
	margin-bottom:20px;
	float: left;
	color: #000000;
}
.topright img{
	width:25px;
	height:25px;
	vertical-align: middle;
}
}
.topright p{
	vertical-align: middle;
	text-align: center;
	line-height: 700%;
	
}
.topright p font{
	color: orangered;
}

.nav{
	height: 40px;
	width: 100%;
	float: left;
	background-color: #000000;
	margin-top: 5px;
}
.nav ul{
	width: 100%;
}

.nav ul li{
	width:15%;
	height: 40px;
	float: left;
	list-style-type: none;
	text-align: center;
	line-height: 40px;
	font-family: "微软雅黑";
}
.nav ul li a{
	text-decoration: none;
	display: block;
	color: #F0FFFF;
}
a:hover,a:active {background:red;}

.left{
	width:17%;
	background-color: azure;
	float: left;
	margin-top:5px;
	margin-right: 10px;
	overflow: hidden;
}

.left_font h3{
	color: floralwhite;
	text-align: center;
	line-height:55px;
}
.left_group{
	width: 100%;
	height: 100%;
	background-color: #FAEBD7;
	float: left;
}
.left_group ul{
	width: 100%;
	height: 100%;
}
.left_group ul li{
	width: 100%;
	height: 50px;
	background-color: coral;
	margin-bottom:2px;
	list-style-type: none;
	text-align:center;
	line-height: 300%;
}
.left img{
	width: 170px;
	height: 200px;
}
.left_group a{
	color: #F0FFFF;
    text-decoration: none;
}

.left_group ul li span{
	background-color: red;
	-ms-block-progression: bt;
	color: floralwhite;
	font-size: 20px;
}

.left-mixbox{
	width: 100%;
	height: 100px;
	background-color: #FAEBD7;
	}

#maxbox{
	width: 82%;
	background-color: #DEDEDE;
	float: left;
}
.maxbox-group-font{
	height: 40px;
}
.table-font-p{
	width: 100%; 
	text-align: center; 
	height: 30px; line-height: 150%;
	font-family: '微软雅黑';
}
#page{
	margin-top: 10px;
	width: 300px;
	float: right;
}
#page ul{
	list-style-type: none;

}
#page ul li{
	width: 25px;;
	float: left;
	margin: 5px;
	border: dotted 1px #000000;
	display: block;
	text-align: center;
}

.js{
	width: 100%;
	height: 320px;
	margin-top: 5px;
}
.group-hr{
	width: 10%;
	height: 40px;
	margin-top: 5px;
	background-color: #f8f8f8f8;
	border-bottom: double 1px #000000;
	
}
.group-hr-2{
border-bottom: double 1px #DEDEDE;
width: 90%;
height:-10px;
float: right;}
.group-hr-left{
	width: 40%;
	height: 20px;
	line-height: 200%;
	font-size: 20px;
}
#box-tow-tow{
	width: 100%;
	height: 450px;
	background-color: #8EC657;
	margin-top: 2px;
}
#box-tow-tow img{
 	margin-left: 30%;
}
.box-tow-top{
	width: 100%;
	height: 40px;
	background-color: #000000;
	margin-bottom: 5px;
}
.box-tow-top p{
	line-height: 240%;
	background-color: #A52A2A;
	width: 20%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	color: #FFFFFF;
	font-family: "微软雅黑";
}
.box-tow-p{
	margin-bottom: 10px;
	font-family: "微软雅黑";
	line-height: 23px;
}
.box-tow-p2{
	margin-top: 20px;
	font-family: "微软雅黑";
}
.p1{
	margin-top: 15px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.p2{margin-top: 15px;
	font-size:  20px;
	font-family: "微软雅黑";
}

.address-map{
	width: 45%;
	height: 400px;
	background-color: #000000;
	margin-top: 5px;
float: left;
background-color: #000000;
}
.address-map-rights{
	width:54.5%;
	height: 400px;
	background-color: #6495ED;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.address-map-rights table{
	width:80%;
	margin-left: 13%;
	margin-top: 20px;
	
}

.address-map-rights table li{
	list-style-type: none;
	float: left;
	margin-right: 15%;
}
#mim{width: 100%;
height: 850px;
margin-top: 10px;
}

#box-left-right{
	
	margin-top: 10px;
	border-bottom: 1px double #49A3FF;
	overflow: hidden;
}
.box-tow-left{

	background-color: #ffffff;
	border-top: dashed 1px black;
	border-bottom: dashed 1px black;
	
	
}
.js-div{
	
	width: 450px;
	height: 340px;
	overflow: hidden;
	float: left;
	margin-right: 40px;
}
.js-div h1{
	margin-left:10%;
	margin-top: 10%;
	margin-bottom: 25%;
}
.js-div p{
	margin-top: 2%;
	margin-left: 10%;
}

/*.box-tow{
	width: 100%;
	height: 1250px;
	background-color:#efeeee;
	float: left;
	margin-top: 10px;


}
产品白表控制div
* */
 
#some-products{
	height: 350px;
	width: 100%;
	margin-top: 10px;
}
.bottom{
	width:100%;
	height: 310px;
	background-color:#2d2e2f;
	float: left;
	margin-top:5px;
	overflow: hidden;
}
.bottom font{
	margin-left:5%;
	margin-right:7%;
	font-family: "微软雅黑";
	color: #FFFFFF;
}
.bottom-left{
	width: 50%;
	height: 100%;
	float: left;
	margin-top: 1%;
	border-right: dashed 1px #FFFAF0;
}
.bottom-left ul{
	width: 100%;
	height: 16%;
	overflow: hidden;
}
.bottom-left ul li{
	list-style: none;
	float: left;
	line-height: 250%;
	margin-right:5%;
	color: #f8f5f5;
	border-bottom: dashed 1px #F0FFFF;
	font-family: "微软雅黑";
}
.bottom-left-bottom{
	width: 90%;
	height: 80%;

	float: left;
	overflow: hidden;
	
}
.bottom-left-bottom h5{
	font-size: 16.4px;
	color: #f8f5f5;;
	margin-top:3%;
	font-family: "微软雅黑";
	
	
}

.bottom-right{
	width: 20%;
	height:60%;
	float:left;
	margin-top:5.8%;
	background-color: #FFFFFF;
	overflow: hidden;
	margin-right: 5px;
	margin-left: 3%;
	border: dotted 1px #6495ED;
	margin-bottom: 5px;
}

#bq{
	width: 100%;
	height: 50px;
	background-color: #000000;
	float: left;
	margin-top: 5px;
	color: #F0FFFF;

	
}
#bq p{
	line-height: 150%;
	text-align: center;
}
